spring:
  profiles: 
    active: dev
---
spring:
  profiles: dev
  application: 
    springcloud-config-dev

server:
  port: 8001

#mybatis配置
mybatis:
  type-aliases-package: com.yhq.springcloud.pojo
  config-location: classpath:mybatis/mybatis-config.xml
  mapper-locations: classpath:mybatis/mapper/*.xml
#spring配置
spring:
  application:
    name: springcloud-prowider-dept
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://49.234.227.248:3306/db01?useUnicode=true&characterEncoding=utf-8
    username: root
    password: .<lSpc4wXX44

#Eureka配置 服务注册到哪里
eureka:
  client:
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka,http://eureka7002.com:7002/eureka,http://eureka7003.com:7003/eureka
  instance:
    instance-id: springclouddepthystrix8001
    prefer-ip-address: true


#info 信息
info:
  app.name: springcloud8001
  company.name: com.yhq



---
spring:
  profiles: test
  application: 
    springcloud-config-test

server:
  port: 8001

#mybatis配置
mybatis:
  type-aliases-package: com.yhq.springcloud.pojo
  config-location: classpath:mybatis/mybatis-config.xml
  mapper-locations: classpath:mybatis/mapper/*.xml
#spring配置
spring:
  application:
    name: springcloud-prowider-dept
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://49.234.227.248:3306/db01?useUnicode=true&characterEncoding=utf-8
    username: root
    password: .<lSpc4wXX44

#Eureka配置 服务注册到哪里
eureka:
  client:
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka,http://eureka7002.com:7002/eureka,http://eureka7003.com:7003/eureka
  instance:
    instance-id: springclouddepthystrix8001
    prefer-ip-address: true


#info 信息
info:
  app.name: springcloud8001
  company.name: com.yhq



